[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
aiosqlite = "*"
alembic = "*"
sqlalchemy = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[packages.uvicorn]
extras = [ "standard",]

[packages.databases]
extras = [ "sqlite",]
